.container {
  display: flex;
  background-color:#ebebeb;
  border: solid 1px #888;
  border-radius: 10px;
  width: 19%;
  margin: 10px;
  padding: 5px;
  height: 150px;
  justify-content: space-evenly;
  box-shadow:  3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  background-image: url('../../assets/pokeball.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

img {
  height: 100%;
  padding: 7px;
}

.id{
    font-size: 25px;
    font-weight: 500;
    align-self: end;
    justify-items: start;
    margin-bottom: 20px;
    
}

.nome{
  font-size: 20px;
}

.tipo{
  background-color: #70707050;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 10px;
}

.grass {
  background-color: #78c850; /* Cor para tipo Grass */
}

.fire {
  background-color: #f08030; /* Cor para tipo Fire */
}

.water {
  background-color: #6890f0; /* Cor para tipo Water */
}

.electric {
  background-color: #f8d030; /* Cor para tipo Electric */
}
