.logo {
  width: 12%;
  display: flex;
  height: 70%;
}

.Nav {
  background-color: #b10f0f;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* .Nav {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f32525;
    color: whitesmoke;
  } */

.search {
  min-width: 300px;
}

.input {
  min-width: 400px;
  border-radius: 3px;
  background: #cf4e4e;
  padding: 10px;
  color: black;
  border: 0;
  height: 25px;
  outline: 0;
  border: solid 0.1px #720b0b;
}

.botao {
  background-color: #cf4e4e;
  border: solid 0.1px #720b0b;
  padding: 10px;
  border-radius: 3px;
}

.input::placeholder {
  color: #720b0b;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Foot {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: #f32525;
}

.Main {
  height: 85%;
  min-height: 819px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #f3f3f3;
}

p {
  display: flex;
}

.git:hover {
  cursor: pointer;
}

.pokeball {
  color: black;
}

@media (max-width:700px){
  .navbar{
      padding: 0 20px;
  }

  .input{
      min-width: auto;
  }
}